/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{margin:0;padding:0}h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th{font-size:1em;font-weight:normal;font-style:normal}ul,ol{list-style:none}fieldset,img{border:none}caption,th{text-align:left}table{border-collapse:collapse;border-spacing:0}

html {
    margin-bottom: 1px;
    overflow: -moz-scrollbars-vertical !important;
    overflow-y: scroll;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "calluna",serif;
    font-size: 16px;
    background-color: #646461;
    background: #fcfcfc;
    color: #333;
    -webkit-font-smoothing: antialiased;}

p { margin-bottom: 18px; }
a { color: #808080; text-decoration: underline; outline-style: none; }
a:hover { text-decoration: underline; }

h1, h2 {
    clear: both;
    font-weight: bold;
    margin: 0 0 17px 0;
}

h1 {
    font-size: 27px;
    line-height: 34px;
}

h2 { font-size: 13px; line-height: 18px; margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, #menu {
    font-family: "pt-sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*
 * Layout
 */
#page {
    margin: 0 auto;
    width: 980px;
    padding: 20px 20px;
    clear: both;
}

@media all and (max-width: 800px) {
    #page { width: 100%; }
}


.section-pictures {
    width: 100%;
    margin-bottom: 18px;
}
.section-pictures a {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.section-pictures a img { width: 200px; }
.section-pictures .rightmost { margin-right: 0; }

/*
 * Thumbnails
 */

.section-pictures a {
    position: relative;
    width: 300px;
    height: 225px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
}
.section-pictures a img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.section-pictures .fresco:nth-of-type(1n+4) {
    display: none;
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

/*
 * Columns
 */
.columns {
    margin-bottom: 21px;
    width: 100%;
}

.columns .column {
    display: inline-block;
    vertical-align: top;
    width: 295px;
    margin-right: 15px;
}
.columns .column_double {
    width: 648px;
}
.columns .column_half {
    width: 481px;
}
.columns_gap {
    margin-bottom: 21px;
    width: 100%;
    -moz-column-count: 3;
    -moz-column-gap: 16px;
    -webkit-column-count: 3;
    -webkit-column-gap: 16px;
    column-count: 3;
    column-gap: 16px;
}


/*
 * Menu
 */
#menu {
    display: inline-block;
    vertical-align: middle;
}
#menu .menu-buttons {
    line-height: 20px;
    width: 100%;
}

#menu .item {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #333;
}

#menu .item a {
    display: inline-block;
    word-wrap: no-wrap;
    text-decoration:
    color: #333;
}

#menu .item a span {
    border-bottom: 1px solid #fff;
    color: #333;
}

#menu .item a:hover span, #menu .item a.active span {
    text-decoration: none;
    background-image: none;
    border-bottom: 1px solid #333;
}

#about {
    padding-bottom: 32px;
    margin-bottom: 40px;
    border-bottom: 1px solid #000;
    width: 100%;
}

#header {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-bottom: 40px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 108px;
    margin: 0 50px 10px 0px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url('../images/logo_small.png');
}

.about-section {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.section-heading {
    font-size: 18px;
    padding: 18px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.intro-section {
}

.intro-section h3 {
    padding: 20px 0;
    font-weight: bold;
    font-size: 36px;
}