---
layout: default
---

<div id="about" class="columns">
  <div class="column">
    <p> {{site.data.abstract.column_1}} </p>
  </div>

  <div class="column">
    <p> {{site.data.abstract.column_2}} </p>
  </div>

  <div class="column rightmost">
    <p> {{site.data.abstract.column_3}} </p>
  </div>
</div>

<section class="intro-section">
  <h3>
    Learning at Visishta
  </h3>
  <p>
    These categories and pictures are not exhaustive, but should give you a good idea of what it is like for your child to learn at Visishta.
  </p>
</section>

{% for section in site.data.main_content %}
<section class="about-section">
  <div class="section-header">
    <h2 class="section-heading">{{section.name}}</h2>
    <span class="note">[click on pictures to see more]</span>
  </div>
  <div class='section-pictures'>
    {% for image in section.images %}
    <a href='images/school_photos/{{image.src}}'
       class='fresco'
       data-fresco-group={{section.name}}'
       data-fresco-group-options="ui: 'outside'"
       data-fresco-caption="{{image.caption}}">
      <img src="images/thumbnails/{{image.src | replace: 'jpg', 'gif' }}" alt='{{image.caption}}'/>
    </a>
    {% endfor %}
  </div>
  <!-- <span>[click to see more pictures]</span> -->
  <p>
    {{section.description}}
  </p>
</section>
{% endfor %}
